header{
  text-align: center;
  color: white;
}

body{
  background-color: #d2b48c; 
  text-align: center;
}

footer{
  text-align: center;
  color: white;
}

#content{
  display: block;
  margin-left: auto;
  margin-right: auto
}



