header{
  text-align: center;
  color: white;
  font-family: "Silkscreen", cursive;
}

body{
  background-color: #d2b48c; 
}

#content{
  display: block;
  margin-left: auto;
  margin-right: auto
}

footer{
  text-align: center;
  color: white;
  font-family: "Silkscreen", cursive;
}




